.row {
  margin: 100px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 6px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  display: none; /* Hide all elements by default */
}

@media only screen and (max-device-width: 480px) {
  /* define mobile specific styles come here */
  .column {
    float: left;
    width: 100%;
    display: none; /* Hide all elements by default */
  }
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btnGallery {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  float: left;
  cursor: pointer;
}

.btnGallery:hover {
  background-color: #ddd;
}

.btnGallery.active {
  background-color: #7386D5;
  color: white;
}

.btnView {
  float: left;
  border: none;
  margin: 10px;
  color: white;
  font-size: 20px;
  background-color: #7386D5;
  border-radius: 8px;
}
